/** @format */

* {
  padding: 0;
  margin: 0;
}

div {
  border: 2px solid brown;
  background-color: aqua;
  padding: 3px 3px 3px 3px;
}
p {
  background-color: darkorchid;
  color: white;
  border: 2px solid black;
  padding: 3px 3px 3px 3px;
}
