/** @format */

* {
  padding: 0;
  margin: 0;
}
#navbar {
  padding: 1rem;
  background-color: #1e2734;
  font-weight: 700;
  display: flex;
  justify-content: space-evenly;
}
#navbar a {
  text-decoration: none;
  background-color: #bb89b5;
  padding: 3px 10px 3px 10px;
  border-radius: 2px;
  color: black;
}

h1 {
  padding-top: 50px;
  padding-bottom: 10px;
}

main a {
  text-decoration: none;
  padding: 10px;
  border-radius: 2px;
  color: white;
  display: flex;
  background-color: #1c6044;
  font-weight: 600;
  margin-bottom: 10px;
  font-size: large;
}
